code {
    background-color: rgba(250,100,0,0.2) !important;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
}
.c-logo {
    font-color: #fff;
    font-size: 2.4rem !important;
}

.c-container {
    padding: 0 2rem;
}

.t-background {
    background-color: rgba(0,0,0,0.1) !important;
}

.t-background-alternate {
    background-color: rgba(0,0,0,0.2) !important;
}

.t-positive {
    color: #093 !important;
    border: 2px solid !important;
    border-radius: 6px !important;
}

.t-neutral {
    color: #999 !important;
    border: 2px solid #ccc !important;
    border-radius: 6px !important;
}

.t-colour-palette {
    clear: both;
    display: block;
    height: auto;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}

.t-colour-palette span {
    border-radius: 50%;
    clear: both;
    display: block;
    height: 60px;
    margin: 0 auto 10px;
    width: 60px
}

.t-colour-palette strong {
    display: block;
    margin: 8px 0 0 0
}
